nav {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
ul {
    display:flex;
    width: 100%;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}