.pose-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 34vw;
    height: 34vw;
    border: 2px solid gray;
}
.pose-head {
    width: 80%;
    align-items: center;
}
.pose-subhead {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}
.pose-example {
    display:flex;
    width: 70%;
    height: 70%;
}
.pose-description {
    font-size: 16px;
}