.routine-display {
    display: flex;
    height: 80vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.button {
    background-color: gray;
    color: black;
    font-weight: 750;
}